$maincolor: darkolivegreen;
$secondarycolor: black;
$derdekleur: olivedrab;
$linkhovercolor: lime;
$tekststyle: impact,fantasy;
body{
  background-image: url("../afbeeldingen/background.jpg");
  background-size: cover;
  .box{
    border-style: solid;
    border-color: $secondarycolor;
    border-radius: 50px;
    width: 30%;
    text-align: center;
    margin: auto;
    background-color: $maincolor;
    font-family: $tekststyle;
    table{
      display: flex;
      justify-content: center;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      li {
        background-color: $derdekleur;
        border-style: solid;
        border-color: $secondarycolor;
        border-radius: 5px;
        list-style-type: none;
        width: 100px;
        margin-left: 32%;
        a {
          transition: 1s;
          color: $secondarycolor;
          font-family: $tekststyle;
          font-style: italic;
          &:hover {
            color: $linkhovercolor;
          }
        }
      }
    }
  }
}