$maincolor: darkolivegreen;
$secondarycolor: black;
$linkhovercolor: lime;
body{
  background-image: url("../afbeeldingen/background.jpg");
  background-size: cover;
  .box{
    border-style: solid;
    border-color: $secondarycolor;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: $maincolor;
    font-family: Impact,fantasy;
    li{
      list-style-type: none;
      padding-right: 45px;
      a{
        transition: 1s;
        color: $secondarycolor;
        font-family: Impact,fantasy;
        font-style: italic;
        &:hover {
          color: $linkhovercolor;
        }
      }
    }
  }
}